{% extends 'base.html.twig' %}

{% block title %}Pomelopay Dashboard - Company {% endblock %}

{% block body %}

    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
